*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans';
}

html,body{
     overflow-x:hidden;
     scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    gap: 30px;
    position: relative;
    z-index: 7;
    background-color: #fff;
}

.nav-links{
    display: flex;
    gap:50px;
    padding: 10px 30px;
    
}
.toggle{
    display: none;
}
.nav-links-anchor{
    background-color:rgba(14, 238, 14, 0.575) ;
    border-radius: 30px;
    padding: 7px 12px;
}

.nav-links-anchor2{
    background-color:rgba(14, 238, 14, 0.575) ;
    border-radius: 30px;
    padding: 7px 12px;
    margin: auto !important;
    text-align: center;
}

.introduction{
    align-items: center;
    margin: auto;
    width: 31%;
}

#intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: rgba(163, 160, 160, 0.87); */
}

.intro-background{
    position: absolute;
    width: 75%;
    right: -250px;
    top: -140px;
    z-index: -1 !important;
}

.intro-background1{
    display: none;
}

.introduction p{
    margin-bottom: 20px;
    font-size: 18px;
    
}
.introduction h1{
    margin-bottom: 20px;
    font-size: 46px;
}
.intro-image{
    width: 50%;
    padding: 10px;
}
/* #nav-links{
width: 50%;
margin: auto;
} */
   

#feed{
    padding: 60px;
    background-color: rgb(223, 223, 223);
}

.feeder{
    padding: 20px 0 50px;
    width: 40%;
}

.feeder h2{
    margin-bottom: 20px;
    font-size: 40px;
    width: 100%;

}

.image-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.image-icons h2{
    margin: 16px 0;

}

.guitarist{
    padding: 20px 60px;
    margin-top: 60px;
}

.guitarist h3{
    font-size:19px ;
    margin-bottom: 20px;
}

.guitarist h4{
    margin-bottom: 20px;
    font-size: 10px;
}

.guitarist-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.guitarist-img img{
    width: 100%;
}
.guitarist-div{
    box-shadow: 5px 5px 13px rgb(158, 158, 158);
    padding-bottom:20px ;
}

.guitarist-div div{
    padding: 20px;
}

.guitarist-img span{
    font-size: 15px;
}

.guitarist-img p{
    padding-top: 7%;
}

#foot{
    background-color: rgb(12, 12, 34);
    padding: 20px 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer{
    padding: 20px 0px;
}
.foot-icons{
margin: 20px;
    gap: 10px;
    column-rule-color: white;
}
.foot-links1, .foot-links2{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
}
.foot-ter{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
}

.footLinks{
    display: flex;
    gap: 70px;
}

.foot-links1 a,.foot-links2 a{
    color: white;
    padding: 15px;
}
.reserved p{
    margin-top: 20px;
}

@media screen and (max-width:992px){

    #nav{
        gap: 20px;
        padding: 20px;
    }

    .nav-links{
        gap: 20px;
    }

    .introduction h1{
        font-size: 30px;
    }

    .introduction p{
        font-size: 18px;
    }
    .intro-image{
        width: 50%;
    }

    #feed{
        padding: 60px 30px;
    }

    .feeder{
        width: 55%;
    }

    .guitarist{
        padding: 20px 30px;
    }

    .guitarist-img span{
        font-size: 15px;
    }

    .guitarist-img p{
    font-size: 15px
    }

    .reserved {
        padding-left: 16px;
    }  
    .feeder h2{
        font-size:30px;
    }  
    .guitarist h3{
        font-size: 30px;
    }
    #foot{
        padding: 20px 30px;
    }
}

@media screen and (max-width: 768px){
    .nav-links-anchor{
        display: none;
    }

   .introduction h1{
    font-size: 25px;
   }
  .intro-image{
    width: 55%;
    padding-left: 20px;
  }  
  .feeder h2{
    font-size: 25px;
  }
  .image-icons h2{
    font-size: 20px;
  }
  .image-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .guitarist h3{
    font-size: 20px;
  }
  .guitarist-img{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
  }

  .footLinks{
    margin-bottom: 40px;
}

.reserved{
    text-align: center;
    padding-left: 0;
}

  #foot{
    flex-direction: column;
  }
}

@media screen and ( max-width:576px){
    .nav-links{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 40px;
        background-color: hsl(243, 87%, 12%);
        position: fixed;
        top: -34%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        transition: .5s;
        box-shadow: 5px 5px 13px rgb(158, 158, 158);
    }

    .toggle{
        display: block;
        cursor: pointer;
        font-size: 20px;
    }

    .closeIcon{
        display: none;
    }

    .nav-links a{
        color: #fff;
    }

    #intro{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }

    .intro-background{
        display: none;
    }
    
    .intro-background1{
        display: block;
        position: absolute;
        width: 100%;
        top: -18%;
        z-index: -1 !important;
    }

    .image-icons{
        display: grid;
        grid-template-columns: repeat( 1,1fr);
    }
    .guitarist-img{
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
    }
   
    .intro-image{
        width: 60%;
    }

    .introduction{
        width: 70%;
        text-align: center;
    }

    .introduction p{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 16px    
        
    }
    .introduction h1{
        font-size: 28px;
    }
    .feeder{
        width:90% ;
        text-align:center ;
        margin-left: auto;
        margin-right: auto;
    }
    .feeder h2{
        font-size: 40px;
        
    }
    .feeder p{
      text-align: center;  
      display: flex;
      flex-direction: column;  
      font-size: 16px;
    }
    .guitarist h3{
        font-size: 20px;
    }
    .guitarist-img span{
        font-size: 24px;
    }
    #nav-links{
        width: 30%;
        margin: auto ;
    }
    .nav-links-anchor2{
        margin: auto !important;
        font-size: 18px;
        border-radius: 20px;
        padding: 10px 15px;
        margin-bottom: 20px;
    }
    .test{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-icons{
        text-align: center;
    }
    .footer{
      flex-direction: column;
    }
}

@media screen and (max-width: 375px){
    .footLinks{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .introduction{
        width: 90%;
    }
    .feeder{
        width: 98%;
    }

    #feed{
        padding: 60px 20px;
    }

    .feeder h2{
        font-size: 28px;
    }

    .intro-image{
        width: 90%;
    }

    .intro-background1{
        top: 0%;
    }
}